Repository IdeaFlowCo/liveeditor.ai-tyi6pm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/tech-leads, @organization/frontend-team, @organization/editor-team, @organization/backend-team, @organization/api-team, @organization/ai-team, @organization/security, @organization/devops, @organization/data-team, @organization/tech-writers, @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/security/audit/dependency-check-config.xml
  security/audit/dependency-check-config.xml
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/security/audit/owasp-zap-config.xml
  security/audit/owasp-zap-config.xml
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/security/compliance/ccpa-compliance.md
  security/compliance/ccpa-compliance.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/compliance/gdpr-checklist.md
  security/compliance/gdpr-checklist.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/compliance/soc2-controls.md
  security/compliance/soc2-controls.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/policies/data-handling-policy.md
  security/policies/data-handling-policy.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/policies/incident-response-plan.md
  security/policies/incident-response-plan.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/policies/security-policy.md
  security/policies/security-policy.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/security/scripts/pentest-preparation.sh
  security/scripts/pentest-preparation.sh
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/security/scripts/vulnerability-scan.sh
  security/scripts/vulnerability-scan.sh
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/backend/.env.example
  src/backend/.env.example
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/.gitignore
  src/backend/.gitignore
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/backend/README.md
  src/backend/README.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/src/backend/app.py
  src/backend/app.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/config.py
  src/backend/config.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/backend/gunicorn.conf.py
  src/backend/gunicorn.conf.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @organization/backend-team, @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/backend/setup.py
  src/backend/setup.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/auth.py
  src/backend/api/auth.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/chat.py
  src/backend/api/chat.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/documents.py
  src/backend/api/documents.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/suggestions.py
  src/backend/api/suggestions.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/templates.py
  src/backend/api/templates.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/users.py
  src/backend/api/users.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/api/middleware/__init__.py
  src/backend/api/middleware/__init__.py
Owners: @organization/backend-team

.github/CODEOWNERS:

# This file determines which teams or individuals are automatically assigned to review
# code changes in specific areas of the project when pull requests are created.

# Default owners for everything in the repo (if no pattern below matches)
* @organization/tech-leads

# Frontend components
/src/frontend/ @organization/frontend-team
/src/components/ @organization/frontend-team
*.tsx @organization/frontend-team
*.jsx @organization/frontend-team
*.css @organization/frontend-team
*.scss @organization/frontend-team

# Document editor and track changes (core functionality)
/src/editor/ @organization/editor-team @organization/frontend-team
/src/track-changes/ @organization/editor-team

# Backend services
/src/backend/ @organization/backend-team
*.py @organization/backend-team
/api/ @organization/backend-team @organization/api-team

# AI integration components
/src/ai/ @organization/ai-team
/src/langchain/ @organization/ai-team
/src/prompts/ @organization/ai-team
/src/chat/ @organization/ai-team @organization/frontend-team

# Sidebar interface
/src/sidebar/ @organization/frontend-team

# User account and document management
/src/users/ @organization/backend-team @organization/security
/src/documents/ @organization/backend-team @organization/editor-team

# Infrastructure and deployment
/.github/ @organization/devops
/terraform/ @organization/devops
/docker/ @organization/devops
Dockerfile* @organization/devops
*.yml @organization/devops
*.yaml @organization/devops

# Database and data layer
/src/db/ @organization/backend-team @organization/data-team
/migrations/ @organization/data-team
/src/storage/ @organization/data-team @organization/backend-team

# Security-sensitive files
/src/auth/ @organization/security @organization/backend-team
/src/security/ @organization/security

# Documentation
/docs/ @organization/tech-writers @organization/tech-leads
*.md @organization/tech-writers

# Monitoring and observability
/src/monitoring/ @organization/devops @organization/backend-team

# Tests
/tests/ @organization/qa
/**/__tests__/ @organization/qa
/**/*.test.* @organization/qa
/**/*.spec.* @organization/qa

# Package management
package.json @organization/frontend-team @organization/devops
package-lock.json @organization/frontend-team @organization/devops
requirements.txt @organization/backend-team @organization/devops
poetry.lock @organization/backend-team @organization/devops
