Repository IdeaFlowCo/liveeditor.ai-tyi6pm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/tech-leads, @organization/frontend-team, @organization/editor-team, @organization/backend-team, @organization/api-team, @organization/ai-team, @organization/security, @organization/devops, @organization/data-team, @organization/tech-writers, @organization/qa

.github/CODEOWNERS:

# This file determines which teams or individuals are automatically assigned to review
# code changes in specific areas of the project when pull requests are created.

# Default owners for everything in the repo (if no pattern below matches)
* @organization/tech-leads

# Frontend components
/src/frontend/ @organization/frontend-team
/src/components/ @organization/frontend-team
*.tsx @organization/frontend-team
*.jsx @organization/frontend-team
*.css @organization/frontend-team
*.scss @organization/frontend-team

# Document editor and track changes (core functionality)
/src/editor/ @organization/editor-team @organization/frontend-team
/src/track-changes/ @organization/editor-team

# Backend services
/src/backend/ @organization/backend-team
*.py @organization/backend-team
/api/ @organization/backend-team @organization/api-team

# AI integration components
/src/ai/ @organization/ai-team
/src/langchain/ @organization/ai-team
/src/prompts/ @organization/ai-team
/src/chat/ @organization/ai-team @organization/frontend-team

# Sidebar interface
/src/sidebar/ @organization/frontend-team

# User account and document management
/src/users/ @organization/backend-team @organization/security
/src/documents/ @organization/backend-team @organization/editor-team

# Infrastructure and deployment
/.github/ @organization/devops
/terraform/ @organization/devops
/docker/ @organization/devops
Dockerfile* @organization/devops
*.yml @organization/devops
*.yaml @organization/devops

# Database and data layer
/src/db/ @organization/backend-team @organization/data-team
/migrations/ @organization/data-team
/src/storage/ @organization/data-team @organization/backend-team

# Security-sensitive files
/src/auth/ @organization/security @organization/backend-team
/src/security/ @organization/security

# Documentation
/docs/ @organization/tech-writers @organization/tech-leads
*.md @organization/tech-writers

# Monitoring and observability
/src/monitoring/ @organization/devops @organization/backend-team

# Tests
/tests/ @organization/qa
/**/__tests__/ @organization/qa
/**/*.test.* @organization/qa
/**/*.spec.* @organization/qa

# Package management
package.json @organization/frontend-team @organization/devops
package-lock.json @organization/frontend-team @organization/devops
requirements.txt @organization/backend-team @organization/devops
poetry.lock @organization/backend-team @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_auth_api.py
  src/backend/tests/integration/test_auth_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_chat_api.py
  src/backend/tests/integration/test_chat_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_document_api.py
  src/backend/tests/integration/test_document_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_suggestion_api.py
  src/backend/tests/integration/test_suggestion_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_template_api.py
  src/backend/tests/integration/test_template_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/integration/test_user_api.py
  src/backend/tests/integration/test_user_api.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/api/__init__.py
  src/backend/tests/unit/api/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/api/test_auth.py
  src/backend/tests/unit/api/test_auth.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/api/test_documents.py
  src/backend/tests/unit/api/test_documents.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/api/test_suggestions.py
  src/backend/tests/unit/api/test_suggestions.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/__init__.py
  src/backend/tests/unit/core/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/__init__.py
  src/backend/tests/unit/core/ai/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_chat_processor.py
  src/backend/tests/unit/core/ai/test_chat_processor.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_context_manager.py
  src/backend/tests/unit/core/ai/test_context_manager.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_openai_service.py
  src/backend/tests/unit/core/ai/test_openai_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_prompt_manager.py
  src/backend/tests/unit/core/ai/test_prompt_manager.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_suggestion_generator.py
  src/backend/tests/unit/core/ai/test_suggestion_generator.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/ai/test_token_optimizer.py
  src/backend/tests/unit/core/ai/test_token_optimizer.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/auth/__init__.py
  src/backend/tests/unit/core/auth/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/auth/test_jwt_service.py
  src/backend/tests/unit/core/auth/test_jwt_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/auth/test_user_service.py
  src/backend/tests/unit/core/auth/test_user_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/documents/__init__.py
  src/backend/tests/unit/core/documents/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/documents/test_diff_service.py
  src/backend/tests/unit/core/documents/test_diff_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/core/documents/test_document_service.py
  src/backend/tests/unit/core/documents/test_document_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/__init__.py
  src/backend/tests/unit/data/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/mongodb/__init__.py
  src/backend/tests/unit/data/mongodb/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/mongodb/test_document_repository.py
  src/backend/tests/unit/data/mongodb/test_document_repository.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/mongodb/test_user_repository.py
  src/backend/tests/unit/data/mongodb/test_user_repository.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/redis/__init__.py
  src/backend/tests/unit/data/redis/__init__.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/redis/test_caching_service.py
  src/backend/tests/unit/data/redis/test_caching_service.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/backend/tests/unit/data/redis/test_session_store.py
  src/backend/tests/unit/data/redis/test_session_store.py
Owners: @organization/backend-team

Add public-samples/liveeditor.ai-tyi6pm/src/web/.dockerignore
  src/web/.dockerignore
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/.gitignore
  src/web/.gitignore
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/.prettierrc
  src/web/.prettierrc
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/Dockerfile
  src/web/Dockerfile
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/web/README.md
  src/web/README.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/src/web/index.html
  src/web/index.html
Owners: @organization/tech-leads
