Repository IdeaFlowCo/liveeditor.ai-tyi6pm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/tech-leads, @organization/frontend-team, @organization/editor-team, @organization/backend-team, @organization/api-team, @organization/ai-team, @organization/security, @organization/devops, @organization/data-team, @organization/tech-writers, @organization/qa

.github/CODEOWNERS:

# This file determines which teams or individuals are automatically assigned to review
# code changes in specific areas of the project when pull requests are created.

# Default owners for everything in the repo (if no pattern below matches)
* @organization/tech-leads

# Frontend components
/src/frontend/ @organization/frontend-team
/src/components/ @organization/frontend-team
*.tsx @organization/frontend-team
*.jsx @organization/frontend-team
*.css @organization/frontend-team
*.scss @organization/frontend-team

# Document editor and track changes (core functionality)
/src/editor/ @organization/editor-team @organization/frontend-team
/src/track-changes/ @organization/editor-team

# Backend services
/src/backend/ @organization/backend-team
*.py @organization/backend-team
/api/ @organization/backend-team @organization/api-team

# AI integration components
/src/ai/ @organization/ai-team
/src/langchain/ @organization/ai-team
/src/prompts/ @organization/ai-team
/src/chat/ @organization/ai-team @organization/frontend-team

# Sidebar interface
/src/sidebar/ @organization/frontend-team

# User account and document management
/src/users/ @organization/backend-team @organization/security
/src/documents/ @organization/backend-team @organization/editor-team

# Infrastructure and deployment
/.github/ @organization/devops
/terraform/ @organization/devops
/docker/ @organization/devops
Dockerfile* @organization/devops
*.yml @organization/devops
*.yaml @organization/devops

# Database and data layer
/src/db/ @organization/backend-team @organization/data-team
/migrations/ @organization/data-team
/src/storage/ @organization/data-team @organization/backend-team

# Security-sensitive files
/src/auth/ @organization/security @organization/backend-team
/src/security/ @organization/security

# Documentation
/docs/ @organization/tech-writers @organization/tech-leads
*.md @organization/tech-writers

# Monitoring and observability
/src/monitoring/ @organization/devops @organization/backend-team

# Tests
/tests/ @organization/qa
/**/__tests__/ @organization/qa
/**/*.test.* @organization/qa
/**/*.spec.* @organization/qa

# Package management
package.json @organization/frontend-team @organization/devops
package-lock.json @organization/frontend-team @organization/devops
requirements.txt @organization/backend-team @organization/devops
poetry.lock @organization/backend-team @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/.github/issue_template/bug_report.md
  .github/issue_template/bug_report.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/.github/issue_template/feature_request.md
  .github/issue_template/feature_request.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/.github/workflows/frontend-deploy.yml
  .github/workflows/frontend-deploy.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/.github/workflows/infrastructure-deploy.yml
  .github/workflows/infrastructure-deploy.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/api/auth.md
  docs/api/auth.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/api/chat.md
  docs/api/chat.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/api/documents.md
  docs/api/documents.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/api/openapi.yaml
  docs/api/openapi.yaml
Owners: @organization/tech-writers, @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/docs/api/suggestions.md
  docs/api/suggestions.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/api/templates.md
  docs/api/templates.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/ai-integration.md
  docs/architecture/ai-integration.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/backend.md
  docs/architecture/backend.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/database.md
  docs/architecture/database.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/frontend.md
  docs/architecture/frontend.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/architecture/security.md
  docs/architecture/security.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/development/contribution-guide.md
  docs/development/contribution-guide.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/development/setup.md
  docs/development/setup.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/development/testing.md
  docs/development/testing.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/operations/backup-restore.md
  docs/operations/backup-restore.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/docs/operations/scaling.md
  docs/operations/scaling.md
Owners: @organization/tech-writers

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/docker/docker-compose.staging.yml
  infrastructure/docker/docker-compose.staging.yml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/base/deployment.yaml
  infrastructure/kubernetes/base/deployment.yaml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/base/service.yaml
  infrastructure/kubernetes/base/service.yaml
Owners: @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @organization/devops
