Repository IdeaFlowCo/liveeditor.ai-tyi6pm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/tech-leads, @organization/frontend-team, @organization/editor-team, @organization/backend-team, @organization/api-team, @organization/ai-team, @organization/security, @organization/devops, @organization/data-team, @organization/tech-writers, @organization/qa

.github/CODEOWNERS:

# This file determines which teams or individuals are automatically assigned to review
# code changes in specific areas of the project when pull requests are created.

# Default owners for everything in the repo (if no pattern below matches)
* @organization/tech-leads

# Frontend components
/src/frontend/ @organization/frontend-team
/src/components/ @organization/frontend-team
*.tsx @organization/frontend-team
*.jsx @organization/frontend-team
*.css @organization/frontend-team
*.scss @organization/frontend-team

# Document editor and track changes (core functionality)
/src/editor/ @organization/editor-team @organization/frontend-team
/src/track-changes/ @organization/editor-team

# Backend services
/src/backend/ @organization/backend-team
*.py @organization/backend-team
/api/ @organization/backend-team @organization/api-team

# AI integration components
/src/ai/ @organization/ai-team
/src/langchain/ @organization/ai-team
/src/prompts/ @organization/ai-team
/src/chat/ @organization/ai-team @organization/frontend-team

# Sidebar interface
/src/sidebar/ @organization/frontend-team

# User account and document management
/src/users/ @organization/backend-team @organization/security
/src/documents/ @organization/backend-team @organization/editor-team

# Infrastructure and deployment
/.github/ @organization/devops
/terraform/ @organization/devops
/docker/ @organization/devops
Dockerfile* @organization/devops
*.yml @organization/devops
*.yaml @organization/devops

# Database and data layer
/src/db/ @organization/backend-team @organization/data-team
/migrations/ @organization/data-team
/src/storage/ @organization/data-team @organization/backend-team

# Security-sensitive files
/src/auth/ @organization/security @organization/backend-team
/src/security/ @organization/security

# Documentation
/docs/ @organization/tech-writers @organization/tech-leads
*.md @organization/tech-writers

# Monitoring and observability
/src/monitoring/ @organization/devops @organization/backend-team

# Tests
/tests/ @organization/qa
/**/__tests__/ @organization/qa
/**/*.test.* @organization/qa
/**/*.spec.* @organization/qa

# Package management
package.json @organization/frontend-team @organization/devops
package-lock.json @organization/frontend-team @organization/devops
requirements.txt @organization/backend-team @organization/devops
poetry.lock @organization/backend-team @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/nginx.conf
  src/web/nginx.conf
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/package.json
  src/web/package.json
Owners: @organization/frontend-team, @organization/devops

Add public-samples/liveeditor.ai-tyi6pm/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/tailwind.config.js
  src/web/tailwind.config.js
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @organization/frontend-team

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @organization/frontend-team

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @organization/frontend-team

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/setup.ts
  src/web/src/__tests__/setup.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/api/document.test.ts
  src/web/src/__tests__/api/document.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/api/suggestions.test.ts
  src/web/src/__tests__/api/suggestions.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/ai/AiSidebar.test.tsx
  src/web/src/__tests__/components/ai/AiSidebar.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/ai/ChatInterface.test.tsx
  src/web/src/__tests__/components/ai/ChatInterface.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/auth/LoginForm.test.tsx
  src/web/src/__tests__/components/auth/LoginForm.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/auth/RegisterForm.test.tsx
  src/web/src/__tests__/components/auth/RegisterForm.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/editor/Editor.test.tsx
  src/web/src/__tests__/components/editor/Editor.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/components/editor/TrackChanges.test.tsx
  src/web/src/__tests__/components/editor/TrackChanges.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/hooks/useAi.test.ts
  src/web/src/__tests__/hooks/useAi.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/hooks/useDocument.test.ts
  src/web/src/__tests__/hooks/useDocument.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/mocks/handlers.ts
  src/web/src/__tests__/mocks/handlers.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/mocks/server.ts
  src/web/src/__tests__/mocks/server.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/pages/Dashboard.test.tsx
  src/web/src/__tests__/pages/Dashboard.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/pages/Editor.test.tsx
  src/web/src/__tests__/pages/Editor.test.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/store/slices/aiSlice.test.ts
  src/web/src/__tests__/store/slices/aiSlice.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/store/slices/authSlice.test.ts
  src/web/src/__tests__/store/slices/authSlice.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/store/slices/documentSlice.test.ts
  src/web/src/__tests__/store/slices/documentSlice.test.ts
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/__tests__/utils/test-utils.tsx
  src/web/src/__tests__/utils/test-utils.tsx
Owners: @organization/qa

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/chat.ts
  src/web/src/api/chat.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/document.ts
  src/web/src/api/document.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/suggestions.ts
  src/web/src/api/suggestions.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/templates.ts
  src/web/src/api/templates.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/api/user.ts
  src/web/src/api/user.ts
Owners: @organization/tech-leads

Add public-samples/liveeditor.ai-tyi6pm/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @organization/tech-leads
